body{
    background-color: rgb(29, 3, 60);
    color:rgb(62, 36, 156);
    font-family: "Bitcount Grid Double", system-ui;
    margin: 0px;
}
header{
    font-size: 60px;
    border:  double   5px rgb(89, 43, 186);
    text-align: center;
    /*margin: 30px;*/
    padding: 15px;
    color: rgb(65, 17, 105);
}
h1{
    font-size: 30px;
}
p{
    font-size: 20px;
}

section{
background-color: rgb(24, 14, 34);
padding-bottom: 80px;
display: flex;
justify-content: center;

}
.chamada-texto{
    margin-right: 10%;
}

